.reviewsContainer {
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem 0;

  @media (max-width: 768px) {
    h2 {
      font-size: 1rem;
    }

    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .reviewsContent {
    width: 90%;
    max-width: 1500px;
    padding: 0;
  }

  .reviewsSlider {
    .slick-prev,
    .slick-next {
      width: 48px;
      height: 48px;
      z-index: 1;
    }

    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }
  }

  .reviewButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    p {
      font-size: 1rem;
    }

    button {
      cursor: pointer;
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border: 1px solid #a8a29e;
      background-color: #d6d3d1;
      color: #44403c;
      border-radius: 9999px;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: #009142;
        border-color: #009142;
        color: white;
      }
    }
  }
}

.reviewsSeparator {
  display: flex;
  justify-content: center;

  hr {
    width: 90%;
    max-width: 1500px;
    border: none;
    height: 1px;
    background-color: #d3d3d3;
  }
}
