.modalOverlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modalContent {
  width: 70%;
  max-width: 1200px;
  height: 80vh;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  .modalApart {
    width: 100%;
    position: relative;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    .closeButton {
      top: -3px;
    }

    h2 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

.galleryWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
