.modalOverlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modalContent {
  width: 70%;
  max-width: 1200px;
  height: 80vh;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  p {
    text-align: center;
    margin-top: 10px;
    max-width: 80%;
  }
}

.galleryWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
