.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

// Общие стили для точек (пагинации)
.slick-dots {
  position: relative !important;
  top: -20px;
}

.slick-slider {
  overflow: hidden; // 🔹 Прячем лишние части слайдера
}

.slick-list {
  overflow: hidden; // 🔹 Принудительно скрываем переполнение
}

.slick-track {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .slick-track {
    transform: translate3d(0, 0, 0) !important; // 🔹 Исправляем баг react-slick
  }
}
